
	@font-face {
    font-family: 'KCC-Ganpan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302@1.0/KCC-Ganpan.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


	* {
		margin: 0px;
		padding: 0;
		box-sizing: border-box;
		word-break: keep-all;
		line-height: 1.5;
		font-family: 'KCC-Ganpan';
	}


	@media (max-width: 900px) {

		nav ul {
			position: fixed;
			top: 0;
			right: 3%;
			background-color: white;
			list-style-type: none;
			padding:5px;
			margin:0;
			display: flex;
			justify-content: center;
			flex-wrap:wrap;
			font-size:12px;
		}

		nav li {
			margin-right: 10px;
			display: flex;
		}

		header p {
			font-size: 12px;
		}

		main h2 {
			font-size:24px;
		}


		h4 {
			font-size:13px;
		}

		p {
			font-size: 12px;
		}

		figure {
			font-size: 10px;
		}

	}


/*기본 노트북 화면*/
	header {
		margin: 5px auto;
		margin-top: 150px;
		text-align: center;
		width: 80%;
	}

	h1 {
		font-size: 40px;
	}

	header a {
		text-decoration: none;
		background-color: black;
		color: white;
		padding: 5px auto;
		border-radius: 10px;
		margin: 5px;
	}

	h2 {
		font-size: 30px;
	}

	h3 {
		font-size: 24px;
	}

	header h3 {
		font-size: 20px;
		margin: 20px;
	}

	header p {
		margin-top: 150px;
		margin-bottom: 50px;
		font-size: 18px;
	}

	body {
		overflow-x: hidden;
	}


	nav {
		position: fixed;
		top: 50px;
		right: 3%;
		font-size: 16px;
		background-color: white;
	}

	nav a {
		text-align: left;
		text-decoration: none;
		background-color: black;
		color: white;
		padding: 5px;
		border-radius: 10px;
	}

	nav li {
		margin-bottom: 10px;
	}


	main {
		margin-left: 7%;
		margin-top: 150px;
		margin-bottom: 50px;
		width: 77%;
	}

	main p {
		margin-bottom: 70px;
	}


	#character h1 {
		font-size: 30px;
		margin-top: 30px;
	}


	details {
		font-size: 20px;
	}


	summary {
		font-size: 25px;
		margin-bottom: 30px;
		background-color: black;
		border-radius: 10px;
		color: white;
		padding-left: 10px;
	}

	.inside {
		margin-left: 20px;
		font-size: 18px;
	}

	figure {
		font-style: italic;
		width: 50%;
	}

	footer {
		margin: 50px;
	}


